<template>
  <div class="absolute left-0 bottom-0 p-6 w-full shadow-lg border rounded-br-xl rounded-bl-xl transform rotate-180">
    <NuxtLink to="/" class="w-full inline-block bg-gradient-to-r from-c-teal to-c-blue text-white rounded-xl p-2 text-center transform -rotate-180">Kostenlos Registrieren</NuxtLink>
  </div>
</template>

<script>
export default {}
</script>
