<template>
  <div class="absolute left-0 top-0 pb-6 w-full shadow-lg rounded-br-xl rounded-bl-xl">
    <div class="h-1.5 w-full bg-gradient-to-r from-c-teal to-c-blue"/>
    <div class="flex justify-end mt-5">
      <NuxtLink to="/" class="mr-5 text-sm text-c-teal">Login</NuxtLink>
    </div>
  </div>
</template>

<script>
export default {}
</script>
